<html>
  <head>
    {% if title %}
    <title>{{ title }} - Project Helper</title>
    {% else %}
    <title>Welcome to Project Helper</title>
    {% endif %}
  </head>
  <body>
    <div>Project Helper: <a href="{{ url_for('index') }}">Main menu</a></div>
    <hr />
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
